body {
	fontfamily : arial
	background color : black;
}

h1{
	font size :20px;
}

.p1{
	background color : light blue;
}
.p2{
	background color : white;
}
.p3{
	background color : light red;
}
.calais{
	width : 500px;
	height : 500px;
}
