/*----------------------Général--------------*/
body {
	font-family : arial;
	color: black;
}
strong{
    font-size:1.5em;
}
/*----------------------Titres--------------*/
h1{
	font-family : verdana;
	font-size :3em;
	color: darkblue;
	text-align:center;
}
h2{
	font-family : verdana;
	text-align:center;
    font-size:3em;
}
/*----------------------Paragraphes--------------*/
.p1{
	background-color : lightblue;
}
.p2{
	background-color : lightgreen;
}
.p3{
	background-color : darkred;
	color:white;
}
/*----------------------Images--------------*/
div.imgcalais #calais{
	display:block;
	margin:auto;
	height:500px;
	width:500px;
}
/*----------------------Tableaux--------------*/
table
{
    border-collapse: collapse;
}
td, th 
{
    border: 1px solid black;
}


/*----------------------Formulaires--------------*/




/*----------------MQ------------*/

@media all and (max-width: 500px)
{
    p{
        color: red; 
        background-color: black;
        font-size: 1.2em;
    }
}



